.center {
    display : flex;
    justify-content: space-evenly;
    position : absolute;
    top: 50%;
    transform: translateY(-50%);
    width : 100%;
}

table {
    border-collapse: collapse;

}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding : 5px;
    text-align : center;
}

.width {
      margin-left: auto;
      margin-right: auto;
      width : 75%
}