@(airports : List[(Airport, List[Runway])])

@main("Here the airports") {
    <table class="table-bordered">
        <caption>Airports Data</caption>
        <thead>
        <tr>
            <th>Airport Name</th>
            <th>Id Runways</th>
        </tr>
        </thead>
        <tbody>
        @for(airportT <- airports) {
            @defining(airportT) {case (airport,runways) =>
            <tr>
                <td>@airport.name</td>
                <td>@runways.map(", " + _.id.toString)</td>
            </tr>
            }
        }
        </tbody>
    </table>
}