@(airports : List[(Airport, List[Runway])])

@main("Here the airports") {
    <table class="width">
        <caption><h1>Airports Data</h1></caption>
        <thead>
        <tr>
            <th>Airport Name</th>
            <th>Runways Type</th>
        </tr>
        </thead>
        <tbody>
        @for(airportT <- airports) {
            @defining(airportT) {case (airport,runways) =>
            <tr>
                <td>@airport.name</td>
                <td>@for(runway <- runways.take(runways.length-1)) { @runway.surface, } @runways.lastOption.map(_.surface).getOrElse("")</td>
            </tr>
            }
        }
        </tbody>
    </table>
}