@(runwaysC : List[(String, List[String])])

@main("Here the runways per countries") {
    <table class="width">
        <caption><h1>Runways Data</h1></caption>
        <thead>
        <tr>
            <th>Country Name</th>
            <th>Runways</th>
        </tr>
        </thead>
        <tbody>
        @for(runwaysT <- runwaysC) {
            @defining(runwaysT) {case (country,runways) =>
            <tr>
                <td>@country</td>
                <td>@for(runway <- runways.take(runways.length-1)) { @runway, } @runways.lastOption.getOrElse("")</td>
            </tr>
            }
        }
        </tbody>
    </table>
}