@(topTen : List[(String, Int)], bottomTen : List[(String,Int)])

@main("Here the top and bottom") {
<div class="center">
<table>
    <caption>Top Ten Countries</caption>
    <thead>
    <tr>
        <th>Country</th>
        <th>Number of Airports</th>
    </tr>
    </thead>
    <tbody>
    @for(countryN <- topTen) {
    @defining(countryN) {case (country,number) =>
    <tr>
        <td>@country</td>
        <td>@number</td>
    </tr>
    }
    }
    </tbody>
</table>

<table>
    <caption>Bottom Ten Countries</caption>
    <thead>
    <tr>
        <th>Country</th>
        <th>Number of Airports</th>
    </tr>
    </thead>
    <tbody>
    @for(countryN <- bottomTen) {
    @defining(countryN) {case (country,number) =>
    <tr>
        <td>@country</td>
        <td>@number</td>
    </tr>
    }
    }
    </tbody>
</table>
</div>
}